{#
{% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
{% trans_default_domain "installation" %}
<div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
    {%- if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
    {% set label = 'form.button.next'|trans -%}
    {%- else -%}
    {% set label = 'form.button.finish'|trans -%}
    {%- endif -%}
    {{ form_widget(form.button_submit, {'attr': {'class': 'craue_formflow_button_last'}, 'label': label}) }}
    &nbsp;
    {% if renderBackButton %}
        {{ form_widget(form.button_back, {'label': 'form.button.back'|trans, 'attr': {'name': flow.getFormTransitionKey(), 'type': 'submit', 'value': 'back', 'formnovalidate': 'formnovalidate'}}) }}
        &nbsp;
    {% endif %}

    {{ form_widget(form.button_reset, {'label': 'form.button.finish'|trans, 'attr': {'type': 'submit', 'class': 'craue_formflow_button_first', 'value': 'reset', 'formnovalidate': 'formnovalidate'}}) }}
</div>
#}
{% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
<div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
	{#
		Default button (the one trigged by pressing the enter/return key) must be defined first.
		Thus, all buttons are defined in reverse order and will be reversed again via CSS.
		See http://stackoverflow.com/questions/1963245/multiple-submit-buttons-specifying-default-button
	#}
	<button type="submit" class="craue_formflow_button_last btn btn-default btn-primary">
		{%- if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
			{{- 'form.button.next' | trans({}, 'installation') -}}
		{%- else -%}
			{{- 'form.button.finish' | trans({}, 'installation') -}}
		{%- endif -%}
	</button>

	{% if renderBackButton %}
		{# see http://www.html5rocks.com/en/tutorials/forms/html5forms/ #}
		<button type="submit" name="{{ flow.getFormTransitionKey() }}" class="btn btn-default btn-link" value="back" formnovalidate="formnovalidate">
			{{- 'form.button.back' | trans({}, 'installation') -}}
		</button>
	{% endif %}

	<button type="submit" class="craue_formflow_button_first btn btn-default btn-link" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate">
		{{- 'form.button.reset' | trans({}, 'installation') -}}
	</button>
</div>
