{% use 'CleentfaarSimplrCmsBundle:Install:Wizard/stepList_blocks.html.twig' %}
{%- if flow.getStepLabels() is not empty -%}
    <div class="btn-group">
		{% for stepLabel in flow.getStepLabels() %}
            {#<div{{ block('craue_flow_stepList_class') }}>#}
                {%- if craue_isStepLinkable(flow, loop.index) -%}
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all
                            | merge(app.request.attributes.get('_route_params'))
                            | craue_addDynamicStepNavigationParameter(flow, loop.index)) }}" class="btn btn-default">
                        {{ loop.index }}.&nbsp;
                        {{- block('craue_flow_stepLabel') -}}
                    </a>
                {%- else -%}
                    <button class="btn btn-default{%- if flow.getCurrentStepNumber() == loop.index %} active{%- endif -%}"{%- if flow.getCurrentStepNumber() != loop.index %} disabled="disabled"{%- endif -%}>
                        {{ loop.index }}.&nbsp;
                        {{- block('craue_flow_stepLabel') -}}
                    </button>
                {%- endif -%}
            {#</div>#}
		{% endfor %}
    </div>
    <br/><br/>
{%- endif -%}
